# This is a sample .gitignore file for a public directory

# Ignore all files and directories
*

# Except for the following files and directories
!.htaccess
!.htpasswd
!index.html
!public/
!public/css/
!public/js/
!public/images/

# In the public directory, ignore all files and directories
public/*

# Except for the following files and directories
!public/css/style.css
!public/js/script.js
!public/images/logo.png
